{% extends "base.html" %}
{% block content %}

   {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
               <div class="card mb-4 shadow-sm">
            <img width="349px" height="360px" src="{{ item['image_url'] }}"/>
            <div class="card-body">
              <p class="card-text"><br>Dish Name: {{ item['dish_name'] }}<br>Chinese Name: {{ item['Chinese_Name'] }}</p>
            </div>
          </div>
        </div>
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %}

{% endblock %}